doctype html
html(lang="en")
  head
    title Smackenz GitHub
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", media="all", href="index.css")
  body
    #panel
      h1
        a(href="https://smackenz.github.io") Smackenz GitHub
      #content
    iframe#viewer(name="viewer", allowfullscreen, allowvr)
    - var navString = nav ? JSON.stringify(nav) : '[]';
    script(type="text/javascript").
      var nav = !{navString};
    //- script(src="groups.js")
    script(src="index.js")
